*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}
@font-face{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Montserrat-Thin.ttf) format(ttf);
}
html{
    scroll-behavior: smooth;
  }
body{
    background-image: url('images/background.webp');
    background-position: center;
    background-attachment: fixed;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.container{
    margin: 0 auto;
    padding: 50px 100px;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
nav.sticky{
    position: fixed;
    padding: 5px 100px;
    background: #f0f0f0;
}
nav .business-name{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
nav .logo-container{
    display: flex;
    align-items: center;
}
nav .logo{
    margin-right: 10px;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: inline-block;
    position: relative;
    list-style: none; 
    margin: 10px 20px;
}
nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: inherit;
    transition: 0.6s;
}
nav ul li a:hover{
    border-bottom: 1px solid;
}
nav.sticky .business-name,
nav.sticky ul li a{
    color: #000
}
.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(images/banner.webp);
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-column-1{
    flex-basis: 35%;
}
.about-column-1 img{
    width: 100%;
    border-radius: 35px;
}
.about-column-2{
    flex-basis: 60%;
    text-align: center;
    margin-top: 90px;
}
.about-column-2 p{
    text-align: center;
    display: flex;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}
#service-section h1{
    text-align: center;
    padding: 20px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
}
.service-card{
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}
.service-card-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.service-card-icon{
    font-size: 32px;
}
#contact-section h1{
    text-align: left;
    padding: 10px;
}
.contact-left{
    padding: 10px;
    flex-basis: 40%;
}
.contact-right img{
    width: 100%;
}
.contact-right{
    padding: 10px;
    flex-basis: 35%;
    text-align: center;
}
.contact-left p1{
    text-align: left;
    display: flex;
    font-size: 20px;
    max-width: 700px;
}
.contact-left p{
    text-align: left;
    display: flex;
    font-size: 20px;
    max-width: 700px;
    margin-top: 30px;
}
.contact-left p i{
	color: #000;
	margin-right: 15px;
	font-size: 25px;
}
#footer{
    width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #f0f0f0;
	font-weight: 300;
	margin-top: 25px;
}
nav .fas{
    display: none;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    nav{
        padding: 15px 15px;
    }
    nav.sticky{
        padding: 15px 15px;
    }
    nav .business-name{
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        display: none;
    }
    .about-column-1, .about-column-2{
        display: inline-block;
        justify-content: center;
        flex-basis: 100%;
    }
    .about-column-1 img{
        width: 100%;
        border-radius: 35px;
    }
    .about-column-2{
        text-align: center;
        margin-top: 20px;
    }
    .about-column-2 h1{
        font-size: 1.5em
    }
    .about-column-2 p{
        text-align: center;
        display: flex;
        font-size: 18px;
        max-width: 700px;
        margin: 0 auto;
    }
    .service-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px; 
        justify-content: center;
    }
    .service-card{
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
    }
    #contact-section h1{
        text-align: left;
        padding: 10px;
    }
    .contact-right img{
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    .contact-right, .contact-left {
        flex-basis: 100%;
        text-align: center;
    }
    .contact-left p i{
	    font-size: 25px;
    }
    .contact-left p {
        text-align: center;
        display: flex;
        font-size: 15px;
        max-width: 700px;
        margin: 0 auto;
    }
    .container{
    margin: 0 auto;
    padding: 50px 50px;
    }
}