*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
@font-face{
    font-family: 'Monserrat';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Montserrat-Thin.ttf) format(ttf);
}
html{
    scroll-behavior: smooth;
  }
body{
    background-image: url('images/newfullbg.png');
    background-position: center;
    background-attachment: fixed;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.container{
    /* max-width: 960px; */
    margin: 0 auto;
    padding: 50px 100px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
nav.sticky{
    padding: 5px 100px;
    background: #f0f0f0;
}
nav .business-name{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
nav .logo-container{
    display: flex;
    align-items: center;
}
nav .logo{
    margin-right: 10px;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
   position: relative;
   list-style: none; 
}
nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: inherit;
    transition: 0.6s;
}
nav ul li a:hover{
    border-bottom: 1px solid;
}
nav.sticky .business-name,
nav.sticky ul li a{
    color: #000
}
.banner{
    position: relative;
    height: 100dvh;
    width: 100%;
    background: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-column-1{
    flex-basis: 35%;
}
.about-column-1 img{
    width: 100%;
    border-radius: 35px;
}
.about-column-2{
    flex-basis: 60%;
    text-align: center;
    margin-top: 90px;
}
.about-column-2 p{
    text-align: center;
    display: flex;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}
#service-section h1{
    text-align: center;
    padding: 20px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
}
.service-card{
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}
.service-card-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.service-card-icon{
    font-size: 32px;
}
#contact-section h1{
    text-align: left;
    padding: 10px;
}
.contact-left{
    padding: 10px;
    flex-basis: 40%;
}
.contact-right img{
    width: 100%;
}
.contact-right{
    padding: 10px;
    flex-basis: 35%;
    text-align: center;
}
.contact-left p1{
    text-align: left;
    display: flex;
    font-size: 20px;
    max-width: 700px;
}
.contact-left p{
    text-align: left;
    display: flex;
    font-size: 20px;
    max-width: 700px;
    margin-top: 30px;
}
.contact-left p i{
	color: #000;
	margin-right: 15px;
	font-size: 25px;
}
#footer{
    width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #f0f0f0;
	font-weight: 300;
	margin-top: 25px;
}